<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2048</title>
        <link rel="stylesheet" href="css/game.css">
        <script src="js/game.js"></script>
    </head>

    <body>
        <h1>2048</h1>
        <hr>
        <h1>You need to calculate a total sum of 2048 or more using arrowkeys<br>left and right keys to move left and right<br>up and down keys to move up and down</h1>
        <h2>Score: <span id="score">0</span></h2>
        <div id="board">
        </div>
        <div id="gameover"><h1 id="hi"></h1></div>
        <div><h3>**refresh the page to restart</h3></div>
    </body>
</html>